*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 12px;
    font-family: '\5fae\8f6f\96c5\9ed1',arial,sans-serif;
}
#header{
    width: 100%;
    height: 114px;
}
.user-info{
    margin-left: 140px;
    margin-top: 12px;
    width: 240px;
    height: 90px;
    float: left;
    position: relative;
    padding-left: 100px;
}
.head-p{
    position: absolute;
    left: 2px;
    top: 5px;
}
.head-p a{
    display: block;
    width: 72px;
    height: 72px;
    overflow: hidden;
    padding: 4px;
    border: 1px solid #f8f8f8;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.pie{
    width: 72px;
    height: 72px;
}
.user-name{
    margin: 24px 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #90c044;
}
.mood{
    display: none;
}
.utilities{
    float: right;
    width: 650px;
    height: 114px;
    margin-right: 230px;
}
.utilities ul li{
    float: left;
    width: 76px;
    height: 84px;
    text-align: center;
}
